.sumcontainer{
margin-top: -230px;
left: 464px;
width: 870px;
height: 1003px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
position: relative;

}
.header{
top: 0px;
left: 514px;
width: 926px;
height: 70px;
color: #FFFFFF;
/* UI Properties */
background: #5861AE 0% 0% no-repeat padding-box;
opacity: 1;

}
.header h2{
    color: #FFFFFF;
    margin-left: 20px;
    font-family: sans-serif;
    
}
    
.topaddress{
    top: 72px;
    left: 514px;
    width: 926px;
    height: 98px;
    display: block;
    /* UI Properties */
    background: #F4F9FF 0% 0% no-repeat padding-box;
    opacity: 1;    
}

.topaddress ul{
    display: inline-block;
    margin-right: 80px;
    top: 91px;
left: 577px;
width: 116px;
height: 22px;
/* UI Properties */
text-align: left;
font: normal normal 600 16px/22px ;
font-family: sans-serif;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;
}

.close{
    display: flex;
    margin-top: -100px;
    margin-left: 880px;
    background: #5861AE;
    border: none;
    color: white;
    font-size: 22px;
    
}
.three{
   margin-left: 140px;
}
.ordersummary p{
    width: 848px;
    height: 340px;
}
.statusbar{
    margin-top: 20px;
    height: 67px;
}
.totalbar{
    width: 848px;
    height: 49px;
   margin-left: 48px;
   margin-top: 60px;
/* UI Properties */
    background: #5861AE;
}
.downaddress p{
    margin-left:50px;
    text-align: left;
    
}
.home{
    margin-left: 50px;
    width: 236px;
height: 85px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #5861AE;
border-radius: 4px;
opacity: 1;
font-family: sans-serif;
}
.home p{
    margin-left: 7px; 
    margin-top: 9px;
}
.home .home1{
    margin-bottom:3px;
}
.footer{
    margin-top: 60px;
    width: 926px;
height: 70px;
/* UI Properties */
background: #F4F4F4 0% 0% no-repeat padding-box;
box-shadow: 0px -3px 6px #00000015;
opacity: 1;
color: white;
}
.footer button{

    margin-left: 700px;
}
.topaddress li{
/* UI Properties */
text-align: left;
width: 232px;;
font: normal normal normal 16px/22px ;
font-family: sans-serif;
letter-spacing: 0.38px;
color: #1B2734;
opacity: 1;

}